h1{
	size: 34px;
  margin: 0px;
	padding: 4px;
	color: #000080;
	text-align: center;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
}

th.login_field{
	width: 180px;
	text-align: left;
	padding: 10px;
	color: #ffffff;
	background-color:#EEE8AA;
}

td.login_field{
	padding: 10px;
}

td.login_button{
	text-align: center;
	padding: 10px;
}

